@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

section {
    background-color: #041E50;
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    height: 50%;
    width: 30%;
    box-shadow: 2px 6px 10px rgba(135, 207, 235, 0.485);
    background-color: white;
    border-radius: 10px;
}

.content>div {
    width: 80%;
    margin: 1.4rem auto;

}

.content div h1 {

    padding-bottom: 8px;
}
.first-heading{
    border-bottom: 2px solid black;
    display: flex;
    justify-content:space-between;
}
.first-heading h5{
    padding-right: 1rem;
}

.content div h3 {
    margin-top: .7rem;
}

.answer-div {
   
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.disabled{
    pointer-events: none;
}
.answer-div h4 {
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 10px;
}

.answer-div h4:hover {
    background-color: #041E50;
    color: white;
    cursor: pointer;
}

.btn button {
    height: 35px;
    width: 100px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;

}

.btn button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
}
.bg-skyblue{
    background-color: rgba(135, 207, 235, 0.878);
}
.bg-brown{
    background-color: rgba(165, 42, 42, 0.656);
}
.removeIt{
    display: none !important; 
}